@tailwind base;
@tailwind components;
@tailwind utilities;

/* === CSS Style => @Layer and @apply === */
@layer components {
  .dark {
    background-color: #111111;
    color: #f2f2f2;
  }
  .light {
    background-color: #f2f2f2;
    color: #111111;
  }

  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }

  @media (prefers-color-scheme: darkMode) {
    body {
      background: #111111;
      color: #f2f2f2f2;
    }
  }
}
